.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary);
    border: 2%;
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary);
    gap: 2rem;
}

.right h1{
    
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
}

.form_group{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form_group input{
    width: 40%;
    height: 20px;
    outline: none;
    border: 2px solid var(--primary);
    background-color: var(--secondary);
    font-size: 16px;
}

.cedula{
    transform: translateX(-140px);
    font-weight: bold;
}

.pass{
    transform: translateX(-122px);
    font-weight: bold;
}

.login{
    width: 20%;
    height: 30px;
    background-color: var(--primary);
    border: 3px solid var(--primary);
    color: var(--secondary);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s linear;
}

.login:hover{
    background-color: var(--secondary);
    color: var(--primary);
    border: 3px solid var(--primary);

}

.forgot{
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--secondary);
    border: none;
    text-decoration: underline;
    transition: all 0.2s linear;
}

.forgot:hover{
    font-size: 14px;
}
