.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.container section{
    width: 40%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    
}

.container section h2{
 
    text-align: center;

}

.row_consulta{
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 40px;
}

.form_group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.form_group label{
    margin-bottom: 5px;
    font-style: italic;
    color: var(--primary);  
}

.campo{
    width: 20vw;
    height: 20px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    

}

.campo2{
    width: 40vw;
    word-wrap: break-word;
    word-break: break-all;
    height: 20px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
    outline: none;

}

.btn_consulta{
    width: 100px;
    height: 32px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid var(--primary);
    transition: all 0.3s ease;
}

.btn_consulta:hover{
    background-color: var(--secondary);
    color: var(--primary);
    
}


.enviar{
    margin-top: 30px;
    width: 10%;
    height: 40px;
    align-self: center;
    background-color: var(--tertiary);
    border: 3px solid var(--tertiary);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 50px;
}

.enviar:hover{
    text-decoration: underline;
    background-color: var(--secondary);

    
}

.Prio{
    width: 53%;
    height: 2rem;
    text-align: center;
    font-size: 16px;
    outline: none;
}

.addButton{
    background-color: inherit;
    color: var(--quaternary);
    border: none;
    font-size: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin-left: 20vw;
}

.addButton:hover{
    color: var(--secondary);
    background-color: var(--quaternary);
    border-radius: 50%;
}

.Procedimento_Field{

    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }


  .Delete{
    background-color: inherit;
    color: crimson;
    border: none;
    font-size: 25px;
    border-radius: 20%;
    transition: all 0.3s ease;
   
}

.Delete:hover{
    color: var(--secondary);
    background-color: crimson;
    border-radius: 20%;
}

.container datalist{
    width: 100vw;
}