.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.filtro{
    margin-top: 80px;
    width: 40%;
    height: 25px;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: 2px solid var(--primary);
    background-color: inherit;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container table{
    width: 70%;
    border-collapse: collapse;
    border: 2px solid var(--primary);
    margin-top: 20px;
    margin-bottom: 100px;
}

.container td, .container th{
    
    min-width: 50px;
    max-width: 120px;
}

.container table tr th{
    min-width: 12%;
    padding: 10px;
    border-right: 1px solid var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
}


.container table tr th:last-child{
    border-right: none;
}


.container td{
    padding: 8px;
}

.container .MA{
    color: Crimson;
    font-weight: bold;

} 

.container .A{
    color: IndianRed;
    font-weight: bold;
   
}

.container .M{
    color: gold;
    font-weight: bold;
   
}

.container .B{
    color: SeaGreen;
    font-weight: bold;

}

.container .MB{
    color: green;
    font-weight: bold;
    
}

.container .complete{
    background-color: Silver;
    font-weight: bold;
    color: var(--secondary);
}

.container table tr,.container table td {
   border : 2px solid var(--primary);
   text-align: center;
}

.editButton{
    
   color: var(--primary);
    border: 2px solid var(--primary);
    background-color: inherit;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.editButton:hover{
    background-color: var(--primary);
    color: var(--secondary);
}

.container table tr td input[type="text"]{
    background-color: inherit;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary);
    border-radius: 2px;
    text-align: center;
    font-size: 15px;
    width: 80px;

}

